TDS_TELEMETRY_CONFIG_FILE=
TDS_TELEMETRY_ENDPOINT_URL=
TDS_TELEMETRY_NONCE_STORE_DIR=
TDS_TELEMETRY_EVENT_LOG_DIR=
TDS_TELEMETRY_LOG_HMAC_KEY=
TDS_TELEMETRY_LOG_HMAC_KEY_FILE=
TDS_TELEMETRY_LOG_RETENTION_DAYS=
TDS_TELEMETRY_MAX_CLOCK_SKEW_SECONDS=
TDS_TELEMETRY_MAX_BODY_BYTES=
